@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: roboto, sans-serif;
}

input:focus {
  border: 1px solid #d3fa3a;
}

input:invalid {
  border: 1px solid red;
}
